* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #f1f1f1;
}

h2 {
  margin-top: 5px;
}

a {
  color: #4078c0;
  text-decoration: none;
  background-color: transparent;

  &:active, &:hover {
    text-decoration: underline;
    outline: 0;
  }
}

.action-button {
  margin-right: 5px;
}
