#users-overview {
  .normal-column {

  }

  .tablet-column {
    display: none;
  }

  @media (max-width: 400px) {
    .normal-column {
      display: none;
    }

    .tablet-column {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .normal-column {
      display: none;
    }

    .tablet-column {
      display: table-cell;
    }
  }

  .icon-column {
    width: 10px;
  }
}
