:local {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .plan-title {
    padding-top: 15px;
    margin-bottom: 20px;
  }

  .main-card {
    position: relative;
    width: 150px;
    height: 98px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    margin-right: 15px;
    overflow: hidden;

    .card-title {
      font-size: 18px;
      color: grey;
      font-weight: 500;
    }

    .card-value {
      font-size: 32px;
    }
  }

  .main-card-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .main-card-fill {
    position: absolute;
    background-color: #FFD740;
    width: 100%;
    height: 0;
    bottom: 0;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
  }

  .controls {
    display: flex;
    width: 256px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .control {
    display: inline-block;
    margin-right: 20px;
  }

  .amount {
    width: 35px;
  }

  .cards-title {
    margin-bottom: 10px;
  }

  .cards {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 115px;
    height: 70px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10 px;
    display: flex;
    flex-flow: column;
    margin-right: 15px;

    .card-title {
      font-size: 15px;
      color: grey;
      font-weight: 500;
    }

    .card-value {
      font-size: 24px;
      margin-top: 8px;
    }
  }

  .main-text {
    margin-right: 4px;
  }

  .min-text {
    color: gray;
    font-size: 10px;
  }
}
